body {
  margin: 0;
  padding: 0;
  font-family: times;
  color: white;
  text-align: center;
  font-size: 3vh;
  letter-spacing: 2px;
  -webkit-text-stroke-color: black;
}

.img{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 750px;
  background-attachment: fixed;
  align-items: center;
}

.img2{
  display: flex;
  justify-content: center;
}

p{
font-size: 23px;
-webkit-text-stroke-width: 0.1px;
}

h1{
  margin-top: 20px;
  font-size: 150px;
  letter-spacing: 8px;
  font-family: Helvetica;
  -webkit-text-stroke-width: 4px;
}

h3{
  margin-top: -120px;
  font-size: 60px;
  letter-spacing: 5px;
  font-family: Helvetica;
  -webkit-text-stroke-width: 3px;
}

.text {
  margin: auto;
  padding: 40px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  min-width: 620px;
  max-width: 620px;
}

.border {
  border-radius: 20%;
  width: 70px;
}

.Myself {
  background-image: url(images/Myself.jpg);
}

.Languages {
  background-image: url(images/Languages.jpg);
}

.Zorianff9 {
  background-image: url(images/Zorianff9.png);
}

.Hands {
  background-image: url(images/Hands.jpg);
}

.Earth {
  background-image: url(images/Earth.png);
}

.Link {
  background-image: url();
}
