body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: white;
}

h1{
 font-size: 90px;
}

h3{
 font-size: 40px;
}

.img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.text {
  margin: auto;
  padding: 30px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  min-width: 520px;
  max-width: 520px;
}

.border {
border-radius: 20%;
width: 70px;
}

.Myself {
  background-image: url(images/Myself.jpg);
}

.Languages {
  background-image: url(images/Languages.jpg);
}

.Zorianff9 {
  background-image: url(images/Zorianff9.png);
}

.Hands {
  background-image: url(images/Hands.jpg);
}

.Earth {
  background-image: url(images/Earth.png);
}

.Link {
  background-image: url();
}
